@media (max-width: 800px) {
    .input-div,
    .country-postal-div,
    .submit-div,
    .cart {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .cart-col {
        order: 1;
    }

    .form-col {
        order: 2;
    }
    
    .item {
        height: 120px;
    }

    .item-image {
        width: 45%;
    }

    .shipping-price p,
    .total-price p {
        font-size: 14px;
        line-height: 17px;
    }

    .name-price h2,
    .name-price .original-price,
    .name-price .discount-price {
        font-size: 12px;
        line-height: 15px;
    }
}